# IDEs
.vscode/
.idea/

# Virtual Environments
venv/

# Intermediate Coverage file
.coverage

# Output files
*.png

# Python runtime
*.pyc
*.egg-info
.pytest_cache

# Jupyter Notebook Stuff
.ipynb_checkpoints
Intermediate Software Development in Python - Jupyter Notepad.ipynb